<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <!-- Socket.io JS -->
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
    {{{body}}}

    <!-- JS library for phaser -->
    <script src="//cdn.jsdelivr.net/npm/phaser@3.0.0/dist/phaser.min.js"></script>
    <script src="/javascripts/game.js"></script>
  </body>
</html>
